/* p要素に適用するスタイル */
p{
    display: inline-block;
    background-color: #00008B;
    color: white;
    width: 160px;
    text-align: center;
    padding: 10px 0;
    margin-right: 20px;
    border-style: dotted ridge ridge solid;
    border-color: yellow yellow red yellow;
    border-width: 5px 10px 10px 5px;
}
